@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: hsl(235, 18%, 26%);
    font-family: 'Roboto', sans-serif;
}

.principal-content {
    margin: 50px 100px;
    border-radius: 35px;
    background-color: hsl(0, 0%, 100%);
    display: grid;
    grid-template-columns: auto 1fr;
    font-family: 'Roboto', sans-serif;
}

.text-container {
    display: flex;
    flex-direction: column;
    margin: 80px 80px 0px 80px;
}

.title {
    font-size: 3rem;
    font-weight: 700;
    margin: 30px;
}

.subtitle {
    font-size: 1rem;
    margin: 0 30px 30px 30px;
}

.benefits-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0px 30px 30px 30px;
}

.benefits-list-item{
    display: flex;
    gap: 12px;
    align-items: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin: 30px;
    font-size: 1.2rem;
    font-weight: 700;
}

#form-email {
    color: hsl(231, 7%, 60%);
    height: 30px;
    border: 1.2px solid hsl(231, 7%, 60%);
    border-radius: 8px;
    padding: 15px 15px 15px 25px;
    font-size: 1.1rem;
    cursor: text;
}

.error-message {
    color: red;
    font-size: 1rem;
    margin-left: 10px;
    display: none;
}

.form-button {
    height: 62px;
    background-color: hsl(234, 29%, 20%);
    color: white;
    font-size: 1rem;
    border: 0;
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;
}

.form-button:hover {
    background: linear-gradient(90deg, #FE527A 0%, #FF693A 100%);
    box-shadow: -13px 8px 31px -4px #FF5379;
}

.image {
    margin: 30px;
}

.attribution {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 8px;
    margin: 0px 0px 10px 0px;
    color: white;
    font-family: 'Roboto', sans-serif;
}


.attribution a {
    color: #FE527A;
    text-decoration: none;
    font-weight: 700;
  }

.success-message {
    width: 35%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 30px;
    font-family: 'Roboto', sans-serif;
    margin: 100px;
}

.title.success {
    margin-left: 50px;
} 

.subtitle.success {
    margin-left: 50px;
    font-size: 1.1rem;
}

.success-message img {
    width: 60px;
    margin: 40px 30px 0px 50px;
}

.success-message button {
    width: 20rem;
    align-self: center;
    margin: 10px 0 50px 0;
}

.hide {
    display: none;
}

/*-------responsive--------*/  

@media (max-width: 450px) {
    
    body {
        background-color: white;
    }

    .principal-content {
        display: flex;
        flex-direction: column-reverse;
        margin: 2px;
        overflow-x: hidden;
        border-radius: 0;
    }

    .text-container {
        margin: 30px;
    }

    .title {
        font-size: 2rem;
        margin: 10px 10px 20px;
    }

    .subtitle {
        font-size: 1.1rem;
        margin: 0 10px 30px 10px;
    }
    
    .benefits-list {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 0px 10px 30px 10px;
    }

    .form-container {
        margin: 0px;
    }

    #form-email {
        width: 90%;
    }

    .form-button {
        width: 103%;
    }

    .image {
        border-radius: 0px 0px 20px 0px;
        margin: 0px 5px 0px 5px;
        content: url(../assets/images/illustration-sign-up-mobile.svg);
    }

    .attribution {
        display: flex;
        margin: 30px 0px 10px 0px;
        color: black;
    }

    .hide {
        display: none;
    }

    .success-message {
        width: 100%;
    }
}
